{% extends "menu_inicio.html.twig" %}
{% block contenido %}
<!-- CONTENIDO -->
<div class="row">
    <nav>
        <div class="nav-wrapper grey darken-2">
            <div class="col s12" style="text-align: center;">
                <a href="/menu" class="rutaNavega">Menu</a>
                <i class="zmdi zmdi-chevron-right rutaNavega" style="display: inline-block;"></i>
                <a href="#" class="rutaNavegaFinal">Crear Evento</a>
            </div>
        </div>
    </nav>
</div><br>

<h2 class="center-align">Crear Evento</h2>
<!-- <h2 class="center-align">Modificar Perfil</h2><hr> -->
<div class="container" style="margin-bottom: 15%; background-color: gray; padding: 3%; border-radius: 25px;">
    <div class="row">
        <form class="col s12" id="RegUsr" name="RegUsr" method="POST" action=""><br>
            <div class="row">
                <div class="input-field col m8 offset-m2 l6">
                    <i class="zmdi zmdi-collection-text prefix"></i>
                    <input id="nombreE" name="nombreE" type="text" class="validate" length="64" maxlength="64" minlength="2"
                        required>
                    <label for="nombreE">Nombre</label>
                </div>
                <div class="input-field col m8 offset-m2 l6">
                    <i class="zmdi zmdi-pin-drop prefix"></i>
                    <input id="inmueble" name="inmueble" type="text" class="validate" length="64" maxlength="64"
                        minlength="2" required>
                    <label for="inmueble">Inmueble</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m8 offset-m2 l6">
                    <i class="zmdi zmdi-library prefix"></i>
                    <input id="estado" name="estado" type="text" class="validate" length="64" maxlength="64"
                        minlength="2" required>
                    <label for="estado">Estado o Ciudad</label>
                </div>
                <div class="input-field col m8 offset-m2 l6">
                    <select id="genero" name="genero" class="icons" required>
                        <option value="-1" selected disabled>Selecciona una categoria -></option>
                        <option value="1">
                            Concierto</option>
                        <option value="2">
                            Festival</option>
                        <option value="3">
                            Teatro</option>
                        <option value="4">
                            Deporte</option>
                        <option value="5">
                            Especial</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m5 offset-m4 l5 offset-l5">
                    <button type="button" class="btn-large waves-effect waves-light" name="enviar" 
                        id="enviar" onclick="reg_evento();">Enviar&nbsp;&nbsp;<i class="zmdi zmdi-mail-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div><br><br>
<!-- CONTENIDO -->
{% endblock %}

{% block finalJS %}
<script src="/js/index.js"></script>
{% endblock %}